[submodule "themes/cocoa"]
	path = themes/cocoa
	url = https://github.com/nishanths/cocoa-hugo-theme/
[submodule "themes/cocoa-eh-hugo-theme"]
	path = themes/cocoa-eh-hugo-theme
	url = git@github.com:mtn/cocoa-eh-hugo-theme.git
