section.main .content .markdown p {
    line-height: 1.8em;
}

section.main .content .page-heading {
    text-transform: none;
}

.markdown pre {
    background-color: rgb(40, 43, 46);
}

.container {
    margin: 0
}

section.main .content .markdown pre code {
    background-color: transparent;
}

section.main .content .markdown pre {
  white-space: pre;
  overflow: scroll;
}
